@model Movie.Site.Models.User

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}   

<h1>Kayıt Ol</h1>
<p>Yeni bir hesap oluşturun</p>

<div class="row">
    <div class="col-md-12">
        <form method="post" asp-action="Register">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserMail"></label>
                <input asp-for="UserMail" class="form-control" />
                <span asp-validation-for="UserMail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UserPassword"></label>
                <input asp-for="UserPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn-primary">Kayıt Ol</button>
        </form>

    </div>
</div>
